name = "simple-blog"
main = "src/index.js"
compatibility_date = "2024-11-01"

[env.production]
routes = [
  {
    pattern = "blog.lovemaggi.de/*",
    zone_name = "lovemaggi.de"
  }
]

[[migrations]]
tag = "v1"
new_classes = ["BlogPost"]

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1